
<button onclick="createSharedCart()" margin-top = "5px">Create new</button>
{{# each sharedCart }}
    <div class="row">
        <div class="col-sm-6 col-md-4 main"><!-- refer this class from here https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_grid_stacked_to_hor&stacked=h -->
            <div class="card thumbnail" style="width: 20rem;">
                <div class="card-block">
                    <h4 class="card-title">{{ this.cartName}}</h4>
                    <div class="clearfix">
                        <a href="http://localhost:5000/?id=private-uk54xgsq9" class="btn btn-raised btn-success pull-right"><!--when button clicked go to add to cart -->
                            <i aria-hidden="true"></i> Show
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
<form action="/shared-carts/create" method="post" id="create-cart" hidden = true>
        <div class = "container">
            
        </div>
        <div class="checkout">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <button class="btn btn-raised btn-success main" type="submit">Create</button>
</form>

<script>
    function createSharedCart(){
          $('#create-cart').removeAttr('hidden');
    }
</script>